* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #47e0d8, #39076c);
    font-family: Arial, sans-serif;

    /* Center form */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: white;
    width: 100%;
    max-width: 380px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #667eea;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0d2076;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #757783;
}

#message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.success {
    color: rgb(13, 168, 13);
}

.error {
    color: rgb(222, 21, 21);
}

#message i {
    margin-right: 5px;
}
